.App {
  text-align: center;
  margin: 0 auto;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  width: 60vw;
  border-radius: 5px;;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  line-height: 0.1;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header h4 {
  color: #767676;
  font-size: 20px;
}

header h5 {
  font-size: 20px;
  margin: 15px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gameButton {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}